[Unit]
Description=Doguito API Service
After=network.target

[Service]
Environment="DB_USER=ADMIN"
Environment="DB_PASSWORD=Doguito12345"
Environment="CONNECT_STRING=doguitodb_high"
Type=Simple
User=opc
ExecStart=/usr/bin/node /home/opc/1911-OCI2-doguito-app/bin/www
Restart=on-failure

[Install]
WantedBy=multi-user.target

