<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Error</title>
  </head>
  <body>
    <h1>Error: <%= message %></h1>
    <% if (error.status) { %>
    <h2>Status: <%= error.status %></h2>
    <% } %> <% if (error.stack) { %>
    <pre><%= error.stack %></pre>
    <% } %>
  </body>
</html>
