.tabla {
  margin-top: 2.25rem;

  width: 100%;

  background-color: var(--cor-contraste-claro);
  border-radius: 10px;
  box-shadow: var(--sombra);

  border-collapse: initial;

  text-align: left;
}

.tabla td:first-of-type,
.tabla th:first-of-type {
  padding-left: 1.75rem;
}

.tabla td:last-of-type,
.tabla th:last-of-type {
  padding-right: 1.75rem;
}

.tabla thead {
  font-size: var(--fonte-tamanho-tabla-cabecera);
}

.tabla th {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  border-bottom: 1px solid var(--cor-secundaria);
}

.tabla td {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tabla__alinhamento--direita {
  text-align: right;
}

.tabla__coluna--p {
  width: 20%;
}

.tabla__coluna--m {
  width: 25%;
}

.tabla__coluna--g {
  width: 50%;
}

.tabla tr:last-of-type td {
  padding-bottom: 1.75rem;
}

.tabla__botoes-controle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tabla__botoes-controle li:first-of-type {
  margin-right: 2.25rem;
}

.td {
  padding: 1rem;
}